@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(32, 47, 54);
    text-align: center;
    font-size: 16px;
}

h1 {
    background: linear-gradient(0deg, rgb(197, 137, 16) 0%, rgb(241, 199, 9) 100%);
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Luckiest Guy';
    font-size: 5rem;
    margin: 40px;
    filter: drop-shadow(0px 10px 30px rgba(0,0,0,0.7));
}

#page-nav {
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto 60px;
    padding: 10px;
    width: 600px;
}

#page-nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
    padding: 0;
}

#page-nav > ul li {
    background-color: #cdcdcd;
    flex: 1;
    text-align: center;
    background: linear-gradient(180deg, rgb(228, 228, 228) 0%, #c0c0c0 100%);
}

#page-nav > ul a {
    display: block;
    width: 100%;
    padding: 20px;
    text-decoration: none;
    color: #111;
    font-family: 'Luckiest Guy';
    font-size: 1.4rem;
    line-height: 1;
}

#page-nav > ul a:hover {
    background-color: #c0c0c0;
}

.box {
    color: #e7e7e7;
    font-family: 'Luckiest Guy';
    font-size: 1.4rem;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    padding: 5px;
    width: 100px;
    height: 100px;
}

.box-1{
    background-color:rgba(100, 148, 237, 0.781);
}
.box-2{
    background-color:rgba(143, 188, 143, 0.788);
}
.box-3{
    background-color:rgba(255, 99, 71, 0.747);
}
.box-4{
    background-color:rgba(218, 165, 32, 0.808);
}
.box-5{
    background-color:rgba(186, 85, 211, 0.74);
}
.box-6{
    background-color:rgba(160, 81, 45, 0.788);
}